* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: top; }

a {
  text-decoration: none;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out; }
  a:hover {
    opacity: 0.8; }

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, "noto sans cjk tc", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.75;
  color: #000;
  font-weight: 500;
  font-style: italic; }

header {
  background: url(../images/banner.png) no-repeat top center;
  background-size: cover;
  height: 100vh; }

.container {
  width: 1200px;
  margin: 0 auto; }

h1 span {
  font-size: 80px;
  line-height: 1.325;
  font-weight: 900; }

.title {
  font-size: 64px;
  line-height: 1.3125;
  text-align: center; }

.socialMedia li {
  margin-left: 16px; }
  .socialMedia li:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .socialMedia li:nth-child(1) {
    margin-left: 0; }

.intro {
  position: relative; }
  .intro::after {
    content: "";
    position: absolute;
    width: 384px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #000;
    margin: auto; }

.experience {
  font-weight: 700; }
  .experience li {
    margin-top: 28px; }
    .experience li::before {
      content: '';
      background-color: #891818;
      display: inline-block;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      margin-right: 16px;
      vertical-align: middle; }

.workList li {
  margin-top: 48px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .workList li:nth-child(1), .workList li:nth-child(2), .workList li:nth-child(3) {
    margin-top: 0; }
  .workList li:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }

.workList a {
  color: #000;
  font-size: 20px; }

.workList p {
  margin-top: 16px; }

footer li {
  margin-top: 16px;
  line-height: 1.5; }

footer a {
  color: #fff; }
  footer a:hover {
    color: #fff;
    text-decoration: underline; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mt-1 {
  margin-top: 4px; }

.mt-2 {
  margin-top: 8px; }

.mt-3 {
  margin-top: 12px; }

.mt-5 {
  margin-top: 20px; }

.mt-7 {
  margin-top: 28px; }

.mt-8 {
  margin-top: 32px; }

.mt-10 {
  margin-top: 40px; }

.mt-14 {
  margin-top: 56px; }

.mt-17 {
  margin-top: 68px; }

.mt-36 {
  margin-top: 144px; }

.mb-8 {
  margin-bottom: 32px; }

.ms-4 {
  margin-left: 16px; }

.pt-6 {
  padding-top: 24px; }

.pt-14 {
  padding-top: 56px; }

.pb-6 {
  padding-bottom: 24px; }

.pb-40 {
  padding-bottom: 160px; }

.py-24 {
  padding-top: 64px;
  padding-bottom: 64px; }

.t-white {
  color: #fff; }

.t-center {
  text-align: center; }

.t-small {
  font-size: 20px; }

.bg-dark {
  background: #000; }

.w-full {
  width: 100%; }

.lh-s {
  line-height: 1.5; }

/*# sourceMappingURL=all.css.map */
